<ul class="nav nav-pills">
  <li role="presentation" class="active"><a href="/">Home</a></li>
  <li role="presentation"><a href="/account">Account</a></li>
  <li role="presentation"><a href="/login">Login</a></li>
  <li role="presentation"><a href="/register">Register</a></li>

</ul>