<!-- Insert Body here -->
<div class="container">

	<div class="url">
		<div class="form-group">
			<div class="input-group">
			  <input class="form-control" id="focusedInput" placeholder="Enter URL" type="text" value="" onblur="urlcheck()"> </input>
			 	<span class="input-group-btn">
			      <input type = "button" class="btn btn-default" value ="Go" onclick="urlcheck()"></input>
				</span>
			</div>
		</div>

	</div>
	
	<div class = "url-body">
	</div>
</div><!-- /.container -->
